<section class="py-[130px] relative h-[811px]" style="background: url(bgSchedule.png);">
  <div class="container-main mx-auto space-y-[50px] relative z-[1]">
    <load src="src/components/Schedule/Title.html" />
    <load src="src/components/Schedule/Table.html" />

    <button
      class="bg-[#FFC700] flex justify-center items-center px-[60px] py-[15px] rounded-[3px] text-[#2A2A2A] text-base uppercase shadowButtonSubmitForm signUpOpenButton hover:bg-[#FEB700] transition-all duration-300">Записаться
      на занятия</button>
  </div>

  <svg class="left-[495px] -bottom-[69px] absolute" width="428" height="428" viewBox="0 0 428 428" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_2010_880)">
      <circle cx="214.002" cy="214.002" r="165.859" stroke="#FFC700" stroke-opacity="0.2" />
      <circle cx="214.001" cy="214.001" r="125.435" stroke="#FFC700" stroke-opacity="0.2" />
      <circle cx="214.001" cy="214.001" r="80.3468" stroke="#FFC700" stroke-opacity="0.2" />
      <circle cx="214.001" cy="214.001" r="41.4781" stroke="#FFC700" stroke-opacity="0.2" />
      <circle cx="214.001" cy="214.001" r="212.501" stroke="#FFC700" stroke-opacity="0.2" />
    </g>
    <defs>
      <filter id="filter0_f_2010_880" x="0" y="0" width="428.003" height="428.003" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur_2010_880" />
      </filter>
    </defs>
  </svg>
</section>