<div class="grid grid-cols-2 xl:w-[560px] w-full">
  <div
    class="col-span-2 flex justify-center items-center text-[#2A2A2A] xl:text-[22px] text-base uppercase bg-[#FFC700CC] xl:h-[61px] h-10"
  >
    Ежедневно
  </div>

  <div
    class="xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    16:00 - 17:30
  </div>

  <div
    class="bg-custom-card-select-schedule xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    16:00 - 17:30
  </div>

  <div
    class="bg-custom-card-select-schedule xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule xl:h-[61px] h-10 flex justify-center items-center xl:text-[22px] text-base border border-[#FFC700CC]"
  >
    16:00 - 17:30
  </div>
</div>
