<div class="grid grid-cols-2 w-[560px]">
  <div class="col-span-2 flex justify-center items-center text-[#2A2A2A] text-[22px] uppercase bg-[#FFC700CC] h-[61px]">
    Ежедневно
  </div>

  <div class="h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    16:00 - 17:30
  </div>

  <div
    class="bg-custom-card-select-schedule h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    16:00 - 17:30
  </div>

  <div
    class="bg-custom-card-select-schedule h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    10:00 - 11:30
  </div>

  <div
    class="bg-custom-card-select-schedule h-[61px] flex justify-center items-center text-[22px] border border-[#FFC700CC]">
    16:00 - 17:30
  </div>
</div>