<div class="mt-[70px] grid grid-cols-2 gap-x-10 gap-y-4">
  <load title="Бесплатные пробные занятия для желающих заниматься у нас" src="src/components/UpBlock/CardEdge.html"/>
  <load title="Детские (от 11 лет) и взрослые группы" src="src/components/UpBlock/CardEdge.html" />
  <load title="Время тренировок подбирается для каждого клиента индивидуально" src="src/components/UpBlock/CardEdge.html"/>
  <load title="Еженедельные бесплатные дополнительные тренировки для членов объединения" src="src/components/UpBlock/CardEdge.html" />
</div>