<section
  class="xl:h-[850px] xl:-mt-[133px] mt-[33px] relative bg-cover bg-center xl:bg-[url('upBlockImgMain.png')] bg-none"
>
  <div class="container-main mx-auto xl:pt-[calc(133px+69px)] relative z-[1]">
    <div class="xl:max-w-[879px] w-full">
      <div class="relative">
        <h1 class="xl:text-[56px] text-[21px] uppercase relative z-[1]">
          Практическая стрельба из страйкбольного оружия
        </h1>

        <p
          class="drop-shadow-text-main text-[64px] w-[909px] text-[#020a14] uppercase absolute -left-[15px] -top-4 xl:block hidden"
        >
          Практическая стрельба из страйкбольного оружия
        </p>
      </div>

      <p class="xl:mt-6 mt-5 xl:text-xl text-sm uppercase">
        первый в Беларуси клуб по подготовке детей и взрослых по практической
        стрельбе «Action Air» как виду спорта
      </p>

      <button
        class="text-[#2A2A2A] xl:mt-10 mt-5 xl:text-base text-sm xl:py-[15px] py-2.5 xl:px-[60px] px-[30px] rounded-[3px] flex justify-center items-center bg-[#FFC700] hover:bg-[#FEB700] transition-all uppercase duration-300 shadowButtonSubmitForm signUpOpenButton relative z-[1]"
      >
        Записаться
      </button>

      <img class="xl:hidden block h-[315px] object-cover object-right relative bottom-[19px]" src="upBlockImgMain.png" alt="Стрелок">

      <load src="src/components/UpBlock/Edge.html" />
    </div>
  </div>

  <svg
    class="absolute -bottom-10 -left-10 xl:block hidden"
    width="529"
    height="575"
    viewBox="0 0 529 575"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_3_265)">
      <circle
        cx="241.501"
        cy="287.501"
        r="223.263"
        stroke="#FFC700"
        stroke-opacity="0.2"
      />
      <circle
        cx="241.501"
        cy="287.501"
        r="168.891"
        stroke="#FFC700"
        stroke-opacity="0.2"
      />
      <circle
        cx="241.501"
        cy="287.501"
        r="108.245"
        stroke="#FFC700"
        stroke-opacity="0.2"
      />
      <circle
        cx="241.501"
        cy="287.501"
        r="55.9635"
        stroke="#FFC700"
        stroke-opacity="0.2"
      />
      <circle
        cx="241.501"
        cy="287.501"
        r="286.001"
        stroke="#FFC700"
        stroke-opacity="0.2"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_3_265"
        x="-46"
        y="0"
        width="575.001"
        height="575.001"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feGaussianBlur
          stdDeviation="0.5"
          result="effect1_foregroundBlur_3_265"
        />
      </filter>
    </defs>
  </svg>
</section>
