<div class="flex flex-col items-center gap-[34px]">
  <div class="relative flex justify-center items-center">
    <img class="absolute z-[1] w-[311px] h-[214px] object-cover" src="{=$img}" alt="пистолет">
    <div class="relative flex justify-center items-center">
      <div class="bg-white/10 blur-2xl absolute w-full h-[283px] rounded-full">
        &nbsp;
      </div>
      <svg class="" width="338" height="338" viewBox="0 0 338 338" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="169" cy="169" r="168.5" stroke="#FFC700" stroke-opacity="0.8" />
        <circle cx="169" cy="169" r="131.493" stroke="#FFC700" stroke-opacity="0.8" />
        <circle cx="169" cy="169" r="99.4198" stroke="#FFC700" stroke-opacity="0.8" />
        <circle cx="169" cy="169" r="63.6458" stroke="#FFC700" stroke-opacity="0.8" />
        <circle cx="169" cy="169" r="32.8065" stroke="#FFC700" stroke-opacity="0.8" />
      </svg>
    </div>
  </div>

  <p class="text-[22px] text-center uppercase">{=$title}</p>
</div>