<section
  id="aboutModal"
  class="absolute z-[-2] overflow-hidden opacity-0 top-0 left-0 h-screen w-screen bg-[#020D1966] backdrop-blur flex justify-center items-center transition-all duration-1000 xl:px-0 px-2.5"
>
  <button class="absolute xl:top-[26px] top-0 xl:right-10 right-2.5 closeModal">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2048_387)">
        <path
          d="M0.999512 1L22.9995 23M0.999512 23L22.9995 1"
          stroke="#FFC700"
          stroke-opacity="0.8"
          stroke-width="3"
        />
      </g>
      <defs>
        <clipPath id="clip0_2048_387">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </button>

  <img
    id="currentImgAboutGallery"
    class="h-[706px] xl:object-none object-contain"
    src="certificate.png"
    alt=""
  />
</section>
