<div class="flex xl:flex-row flex-col xl:justify-between xl:gap-0 gap-5 w-full">
  <h2 class="text-left">О клубе</h2>

  <p class="text-[#F1F1F1] xl:text-lg text-sm max-w-[904px]">
    Мы первые в Беларуси на профессиональном уровне проводим подготовку детей и взрослых по практической стрельбе
    «Action
    Air» как виду спорта.
    Мы используем самые передовые методики в обучении правильному и безопасному обращению с оружием. Проводим работу
    по популяризации практической стрельбы («Action Air»), как самого массового вида стрелкового спорта. Занятия
    проводят
    профессиольные инструктора.
    «Action Air» – это дисциплина в практической стрельбе IPSC, с использованием пневматического оружия.
    Тесно сотрудничаем в разработке и тестировании новой стрелковой платформы от белорусского производителя, которая
    в дальнейшем позволит проводить онлайн соревнования по всей стране и за её пределами.
  </p>
</div>