<div class="flex-shrink-0 flex-grow-0 xl:w-auto w-[540px]">
  <h3 class="xl:text-[22px] text-base uppercase xl:mb-[30px] mb-3.5">
    Мероприятия РОО «ПСиСО»
  </h3>

  <div
    class="flex justify-between text-[#2A2A2A] items-center bg-[#FFC700CC] xl:h-[60px] h-[121px] xl:pl-10 pl-2 xl:pr-[19px] pr-2 xl:gap-0 gap-3"
  >
    <p class="xl:w-[416px] w-[126px]">Наименование спортивного мероприятия</p>
    <p class="xl:w-[199px] w-[126px]">Сроки проведения</p>
    <p class="xl:w-[176px] w-[126px]">Место проведения</p>
    <p class="xl:w-[293px] w-[126px] xl:text-center">
      Общее количество участников спортивного мероприятия
    </p>
  </div>

  <div class="xl:text-base text-sm">
    <div
      class="flex justify-between items-center xl:py-4 py-2 xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Открытый турнир ВООС БФСО<br/>«Динамо» по практической<br/>стрельбе – ACTION AIR</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
    <div
      class="flex justify-between items-center xl:h-[60px] h-[70px] xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Матч «Защитник 2024»</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
    <div
      class="flex justify-between items-center xl:h-[60px] h-[70px] xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Матч «Защитник 2024»</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
    <div
      class="flex justify-between items-center xl:h-[60px] h-[70px] xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Матч «Защитник 2024»</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
    <div
      class="flex justify-between items-center xl:h-[60px] h-[70px] xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Матч «Защитник 2024»</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
    <div
      class="flex justify-between items-center xl:h-[60px] h-[70px] xl:pl-10 pl-2 xl:pr-[19px] xl:gap-0 gap-3 pr-2 even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="xl:w-[416px] w-[126px]">Матч «Защитник 2024»</p>
      <p class="xl:w-[199px] w-[126px]">24.02.2024</p>
      <p class="xl:w-[176px] w-[126px]">г. Витебск</p>
      <p class="xl:w-[293px] w-[126px] xl:text-center">33</p>
    </div>
  </div>
</div>
