<div>
  <h3 class="text-[22px] uppercase mb-[30px]">Мероприятия РОО «ПСиСО»</h3>

  <div
    class="flex justify-between text-[#2A2A2A] items-center bg-[#FFC700CC] h-[60px] pl-10 pr-[19px]"
  >
    <p class="w-[416px]">Наименование спортивного мероприятия</p>
    <p class="w-[199px]">Сроки проведения</p>
    <p class="w-[176px]">Место проведения</p>
    <p class="w-[293px] text-center">
      Общее количество участников спортивного мероприятия
    </p>
  </div>

  <div>
    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>

    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>

    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>

    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>

    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>

    <div
      class="flex justify-between items-center h-[60px] pl-10 pr-[19px] even:bg-[#1B2017] border border-[#FFC700CC]"
    >
      <p class="w-[416px]">Матч «Защитник 2024»</p>
      <p class="w-[199px]">24.02.2024</p>
      <p class="w-[176px]">г. Витебск</p>
      <p class="w-[293px] text-center">33</p>
    </div>
  </div>
</div>
