<section id="modalSignUpResponse"
  class="fixed formAndResponseModal duration-300 transition-all -translate-y-full opacity-0 top-0 h-screen w-full bg-[#020D1966] backdrop-blur flex justify-center items-center z-[2]">
  <div class="max-w-[762px] w-full bg-[#020D1966] flex flex-col justify-center items-center py-[100px] relative">
    <button class="closeModal absolute right-9 top-[25px]">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2034_446)">
          <path d="M1 1L23 23M1 23L23 1" stroke="#FFC700" stroke-opacity="0.8" stroke-width="3" />
        </g>
        <defs>
          <clipPath id="clip0_2034_446">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </button>

    <div class="flex flex-col">
      <p class="text-[#FFC700] text-[44px] uppercase">Спасибо за заявку</p>

      <p class="mt-[30px] mb-[50px] text-[#F1F1F1] text-lg">
        Спасибо за Вашу заявку!<br />Мы скоро свяжемся с Вами и подберем<br/>удобное время для занятий
      </p>

      <button
        class="closeModal text-[#2A2A2A] w-fit text-base flex justify-center uppercase items-center rounded-[3px] py-[15px] px-[60px] bg-[#FFC700] hover:bg-[#FEB700] transition-all duration-300 shadowButtonSubmitForm">
        Хорошо
      </button>
    </div>
  </div>
</section>