<section
  id="modalSignUp"
  class="fixed formAndResponseModal duration-300 transition-all -translate-y-full opacity-0 top-0 h-screen w-full bg-[#020D1966] backdrop-blur flex justify-center items-center z-[2]"
>
  <div
    class="max-w-[762px] w-full bg-[#020D1966] flex flex-col justify-center items-center xl:pt-[100px] xl:pb-[100px] pt-10 pb-5 gap-[30px] relative"
  >
    <button class="closeModal absolute right-9 top-[25px]">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_2034_446)">
          <path
            d="M1 1L23 23M1 23L23 1"
            stroke="#FFC700"
            stroke-opacity="0.8"
            stroke-width="3"
          />
        </g>
        <defs>
          <clipPath id="clip0_2034_446">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </button>

    <p class="text-[#FFC700] xl:text-[44px] text-xl uppercase">Записаться</p>

    <load
      src="src/components/Form.html"
      btnText="Записаться на занятия"
      typeForm="signUp"
    />
  </div>
</section>
