<section
  class="container-main mx-auto xl:space-y-[50px] space-y-[26px] xl:pb-[130px] pb-[50px] xl:pt-[158px] pt-[50px]"
>
  <h2>Контакты</h2>

  <div class="flex xl:flex-row flex-col xl:gap-[111px] gap-3.5">
    <load src="src/components/Contact/Info.html" />
    <load src="src/components/Contact/Map.html" />
  </div>

  <div class="flex flex-col gap-3.5 xl:hidden">
    <a class="uppercase" href="mailto:actionairvitebsk@gmail.com"
      >actionairvitebsk@gmail.com</a
    >

    <a class="uppercase radial-text w-fit" href="">instagram</a>
  </div>
</section>
