<iframe class="map-contact current hidden xl:h-[548px] h-[209px]" id="vitebskMap"
  src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae81a80c93e13f1fdebd43fb6c1b3b614416d479fe84ee338c98eed243eb2d3f5&amp;source=constructor"
  width="100%" frameborder="0"></iframe>

<iframe class="map-contact hidden xl:h-[548px] h-[209px]" id="orshaMap"
  src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa059de9586de203557ad4e07506c64f64793ff41d0f0adddcdc98c2d90e476cd&amp;source=constructor"
  width="100%" frameborder="0"></iframe>