<nav class="flex items-center gap-16 h-[66px]">
  <a class="text-base text-center uppercase" href="#about">О клубе</a>
  <a class="text-base text-center uppercase" href="#schedule">Расписание секций</a>
  <a class="text-base text-center uppercase" href="#gallery">Галерея</a>
  <a class="text-base text-center uppercase" href="#rate">Рейтинг стрелков</a>
  <a class="text-base text-center uppercase" href="#calendar">календарный план мероприятий клуба</a>
  <a class="text-base text-center uppercase" href="#reviews">Отзывы и благодарности</a>
  <a class="text-base text-center uppercase" href="#contact">Контакты</a>
</nav>