<nav class="flex items-center gap-16 py-3">
  <a class="text-base text-center uppercase" href="">О клубе</a>
  <a class="text-base text-center uppercase" href="">Расписание секций</a>
  <a class="text-base text-center uppercase" href="">Галерея</a>
  <a class="text-base text-center uppercase" href="">Рейтинг стрелков</a>
  <a class="text-base text-center uppercase" href="">календарный план мероприятий клуба</a>
  <a class="text-base text-center uppercase" href="">Отзывы и благодарности</a>
  <a class="text-base text-center uppercase" href="">Контакты</a>
</nav>