<div id="gallerySlider" class="max-w-[904px] w-full">
  <div class="swiper-wrapper !flex">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider1.png" alt="Галлерея">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider2.png" alt="Галлерея">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider3.png" alt="Галлерея">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider1.png" alt="Галлерея">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider2.png" alt="Галлерея">
    <img class="!h-[500px] swiper-slide" src="imgGallerySlider3.png" alt="Галлерея">
  </div>
</div>