<footer
  class="bg-[#2A2A2A] border-b border-t border-[#FFC70033] xl:pt-[30px] pt-2.5 xl:pb-[43px] pb-[30px] xl:h-[375px]"
>
  <div
    class="container-main mx-auto flex xl:flex-row flex-col xl:justify-between h-full"
  >
    <load src="src/components/Footer/Info.html" />
    <load src="src/components/Footer/Nav.html" />
    <div class="xl:mt-0 mt-[42px]">
      <load src="src/components/Form.html" btnText="заказать звонок" typeForm="requestCall"/>
    </div>

    <div
      class="text-[10px] text-[#F1F1F1] xl:hidden flex flex-col gap-2.5 items-center uppercase mt-10"
    >
      <a>Политика обработки персональных данных</a>

      <a href="https://artcly.by/">Создание сайта: ArtCly.by</a>
    </div>
  </div>
</footer>
