<div class="flex flex-col justify-between h-full">
  <div class="flex items-center xl:gap-[11px] gap-1.5 justify-between">
    <a class="flex-shrink-0" href="/">
      <img class="xl:w-[122px] w-[75px] xl:h-[122px] h-[75px]" src="logo.png" alt="logo">
    </a>

    <p class="xl:w-[291px] w-fit xl:text-base text-xs text-[#F1F1F1] uppercase">© РОО «ПРАКТИЧЕСКАЯ СТРЕЛЬБА ИЗ СТРАЙКБОЛЬНОГО ОРУЖИЯ»</p>
  </div>

  <div class="text-sm text-[#F1F1F1] xl:flex hidden flex-col gap-[15px] uppercase">
    <span class="openConfModal cursor-pointer">Политика обработки персональных данных</span>

    <a href="https://artcly.by/">Создание сайта: ArtCly.by</a>
  </div>
</div>