<nav class="xl:space-y-5 space-y-[25px] xl:max-w-[212px] xl:mt-0 mt-[19px]">
  <p class="uppercase xl:text-xl text-base text-[#E9E9E9]">НАвигация</p>

  <ul class="xl:block grid grid-cols-2 gap-2.5 xl:space-y-2.5">
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">О клубе</a>
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">Расписание секций</a>
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">Галерея</a>
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">Рейтинг стрелков</a>
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href=""
        >календарный план мероприятий клуба</a
      >
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">Отзывы и благодарности</a>
    </li>
    <li>
      <a class="xl:text-sm text-xs uppercase" href="">Контакты</a>
    </li>
  </ul>
</nav>
