<nav class="space-y-5 max-w-[212px]">
  <p class="uppercase text-xl text-[#E9E9E9]">НАвигация</p>

  <ul class="space-y-2.5">
    <li>
      <a class="text-sm uppercase" href="">О клубе</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">Расписание секций</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">Галерея</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">Рейтинг стрелков</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">календарный план мероприятий клуба</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">Отзывы и благодарности</a>
    </li>
    <li>
      <a class="text-sm uppercase" href="">Контакты</a>
    </li>
  </ul>
</nav>